@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,300i,400,400i,600,700&subset=latin-ext');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #003a47, #2e0054);
  background-size: 400% 400%;
  color: white;

  -webkit-animation: Gradient 0s ease infinite;
  -moz-animation: Gradient 0s ease infinite;
  -o-animation: Gradient 0s ease infinite;
  animation: Gradient 0s ease infinite;
  display: table;
}

* {
  font-family: 'Titillium Web', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none !important;
}

.placeholder {
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}

.placeholder * {
  margin: 0;
  opacity: 0;
}
.placeholder h1 {
  font-weight: 100;
  font-size: 10rem;
  transition: opacity 1s ease;
}
.placeholder h2 {
  font-weight: 200;
  font-size: 3rem;
  transition: opacity 2s 0.5s ease;
}
.placeholder .aka {
  transition: opacity 2s 2s ease;
}
.placeholder .aka * {
  font-weight: 300;
  font-size: 1.25rem;
  opacity: 0.6;
  transition: opacity .2s ease;
}
.placeholder a {
  color: white;
  text-decoration: none;
  transition: opacity 3s 3.5s ease;
}
.placeholder .promise {
  transition: opacity 3s 4s ease;
}
.placeholder.shown a:hover {
  opacity: 1;
}
.placeholder a:visited {
  color: white;
}
.placeholder.shown h1 {
  opacity: 0.9;
}
.placeholder.shown h2 {
  opacity: 0.6;
}
.placeholder.shown .aka {
  opacity: 1;
}
.placeholder.shown .promise {
  opacity: 0.9;
}


@media screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }

  .placeholder h2 {
    font-weight: 200;
    font-size: 5rem;
    transition: opacity 1s 0.5s ease;
  }
  .placeholder .aka * {
    font-weight: 300;
    font-size: 2rem;
  }

  .placeholder.shown .promise {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 2vw;
  }
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
